@import "tailwindcss";
/* En globals.css */
@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf')  ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
   

@theme { 
    --font-playfair: 'Playfair Display', serif;
    --font-raleway: 'Raleway', sans-serif; 
    --color-gray:#4d4d4f;
    --color-blue: #1a3455;
    --color-blue-gray: #475c77;
    --color-blue-light: #3eb3e4;
    --color-black: #343333;
}
  /* Repite para cada variante o fuente */
.container{
    max-width: 1700px;
    margin: 0 auto;
}
 
.link-clip-hover {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.link-clip-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-blue); /* Tailwind blue-600 */
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 500ms ease-in;
  z-index: -1;
}

.link-clip-hover:hover::before,
.link-clip-hover:focus::before {
  clip-path: circle(150% at 50% 50%);
}

.link-clip-hover {
  transition: color 0.6s cubic-bezier(0.4,0,0.2,1) 0s;
}

.link-clip-hover:hover,
.link-clip-hover:focus {
  color: #fff !important;
  z-index: 1;
  transition-delay: 0s;
}

.link-clip-hover:not(:hover):not(:focus) {
  color: #222 !important; /* O el color base que uses */
  transition-delay: 0.2s;
}
.link-clip-hover > * {
  position: relative;
  z-index: 1;
}

.slider-burger{
  display: block;    
  height: 4px;
  width: 100%;
  border-radius: 20px;
}

.menu-submenu-transition {
  transition: max-height 0.3s ease-in-out, opacity 0.25s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.menu-submenu-open {
  max-height: 1000px;
  opacity: 1;
}
 
/* Formulario */

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-blue) inset !important; /* tu color de fondo (ejemplo: bg-blue-800) */
  box-shadow: 0 0 0 1000px var(--color-blue) inset !important;
  -webkit-text-fill-color: white !important; /* tu color de texto */
  background-color: var(--color-blue) !important; 
}

input:focus:-webkit-autofill,
textarea:focus:-webkit-autofill { 
  outline: none !important;
}
